.react-tabs__tab-list {
    border: none;
}

.homeTab {
    font-family: 'Source Sans Pro', sans-serif;
    border: none;
    display: inline-block;
    list-style: none;
    padding: 6px 20px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    margin-bottom: 40px;
}

.homeShopItemsContainer {
    padding: 0px 100px 0px 100px;
}

.homeTab {
    outline: none;
}

.react-tabs__tab:focus:after {
    background-color: #c19e59;
}

@media screen and (max-width: 760px) {
    .homeTab {
        padding: 6px 0px;
    }

    .react-tabs__tab {
        font-size: 14px;
    }

    .homeTabsContainer {
        overflow-x: scroll;
        white-space: nowrap;
        margin-bottom: 40px;
    }

    .homeShopItemsContainer {
        padding: 0px 15px 0px 15px;
    }
}