.footer-bg {
    width: 100%;
    height: 350px;
}

.footer-links {
    position: absolute;
    margin-top: -100px;
    color: #ffff;
    font-family: 'Source Sans Pro', sans-serif;
    cursor: pointer;
}

.footer-arrow {
    display: none;
    color: #00a651;
    ;
}

.footer-link:hover .footer-arrow {
    display: inline;
    margin-right: 5px;
}

.footer-section {
    background: #295746;
    height: 1105px;
}

@media screen and (max-width: 1200px) {
    .ssl {
        width: 100%;
    }
}