
.footer{
    background-image:url(../../../assets/images/bg.png) ;
    width: 100%;
     /* background-repeat: no-repeat;  */
    background-position: center ;
    background-repeat: no-repeat ;
    background-size: cover ;
}
.gap{
    grid-row-gap: 200px;
}
.aboutText{
    text-align: left;
    /* color:aliceblue; */
}
.downloadText{
    text-align: center; 
    color: #00a700;
    width: 100%; 
    font-size: 23px;
    margin-bottom: 0px;
}
.whiteText{
    color:aliceblue; 
}
.map{
    align: center;
}