.banner-carousel-btn {
    background-color: #00a651;
    margin: auto;
    height: 50px;
    width: 50px;
}



@media screen and (max-width: 1080px) {
    .homeBannerImg {
        height: 40vh;
    }

    .banner-carousel-btn {
        height: 40px;
        width: 40px;
    }
}